@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC&display=swap');

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Encode Sans SC', sans-serif;
}

body {
    height: 100vh;
    background: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    font-size: 2rem;
}

.item-1 {
    background-color: #d3c6b8;
}

.item-2 {
    background-color: #88847f;
}

.item-3 {
    background-color: #374840;
}

.item-4 {
    background-color: #376a54;
}

.item-5 {
    background-color: #d6d4d3;
}

.item-6 {
    background-color: #516464;
}

.item-7 {
    background-color: #cfdbdb;
}

.item-8 {
    background-color: #b09c98;
}

.item-9 {
    background-color: #ddc5af;
}


/* Lecture 1: Introduction To CSS Grid
grid-template-rows, grid-template-column & grid-row-gap, grid-column-gap also grid-gap row and column Line numbers starts with 1 */

.container {
    width: 1200px;
    background: #efedec;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: grid;
    /* grid-template-columns: repeat(2, 1fr) 1fr; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3, 1fr);
    /* 1 fr stands for 1 fractional unit  */
    /* Suppose if I want to first column 1x and second column can 2x and third can 3x ,what can I do ? */
    /* grid-template-columns: 1fr 2fr 3fr; */
    /* Ans: I can do 1fr 2fr 3fr to frid-template-columns.And one more thing is that if we want to any width of that container ,it can give the same result to which iwant in question above . */
    /* repeat method used for each column value 400px */
    /* If we want 2 column each value and other can different, then
     repeat(2, 400px) 500px.
     
     If we want 1 column each value and other can different, then
     400px repeat(1, 400px) 500px.*/
    grid-template-rows: repeat(3, 200px);
    /* grid-column-gap: 30px;
    grid-row-gap: 30px; */
    grid-gap: 30px;
    /* You can see that grid-gap can do same as we code 2 lines befores */
    /* But this is not responsove we can doing responsiveness in CSS Grid later.*/

}